<?xml version="1.0" encoding="UTF-8" ?>
<resource_file type="PackedScene" subresource_count="7" version="2.1" version_name="Godot Engine v2.1.3.stable.custom_build">
	<ext_resource path="res://fonts/ka1_LARGE_color.fnt" type="BitmapFont" index="3"></ext_resource>
	<ext_resource path="res://scripts/background.gd" type="Script" index="2"></ext_resource>
	<ext_resource path="res://fonts/ka1_mid_color.fnt" type="BitmapFont" index="5"></ext_resource>
	<ext_resource path="res://textures/powerup_icon.png" type="Texture" index="4"></ext_resource>
	<ext_resource path="res://textures/background.png" type="Texture" index="1"></ext_resource>
	<ext_resource path="res://scripts/menu.gd" type="Script" index="0"></ext_resource>
	<main_resource>
		<dictionary name="_bundled" shared="false">
			<string> "conn_count" </string>
			<int> 0 </int>
			<string> "conns" </string>
			<int_array  len="0"> 				 </int_array>
			<string> "editable_instances" </string>
			<array  len="0" shared="false">
			</array>
			<string> "names" </string>
			<string_array  len="36">
				<string> "Menu" </string>
				<string> "transform/pos" </string>
				<string> "script/script" </string>
				<string> "Node2D" </string>
				<string> "Background" </string>
				<string> "transform/scale" </string>
				<string> "texture" </string>
				<string> "modulate" </string>
				<string> "Sprite" </string>
				<string> "Title" </string>
				<string> "focus/ignore_mouse" </string>
				<string> "focus/stop_mouse" </string>
				<string> "size_flags/horizontal" </string>
				<string> "size_flags/vertical" </string>
				<string> "margin/left" </string>
				<string> "margin/top" </string>
				<string> "margin/right" </string>
				<string> "margin/bottom" </string>
				<string> "custom_fonts/font" </string>
				<string> "text" </string>
				<string> "align" </string>
				<string> "valign" </string>
				<string> "percent_visible" </string>
				<string> "lines_skipped" </string>
				<string> "max_lines_visible" </string>
				<string> "Label" </string>
				<string> "Choose" </string>
				<string> "Easy" </string>
				<string> "toggle_mode" </string>
				<string> "enabled_focus_mode" </string>
				<string> "shortcut" </string>
				<string> "flat" </string>
				<string> "Button" </string>
				<string> "Medium" </string>
				<string> "Hard" </string>
				<string> "Random" </string>
			</string_array>
			<string> "node_count" </string>
			<int> 9 </int>
			<string> "node_paths" </string>
			<array  len="0" shared="false">
			</array>
			<string> "nodes" </string>
			<int_array  len="253"> 				-1, -1, 3, 0, -1, 2, 1, 0, 2, 1, 0, 0, 0, 8, 4, -1, 5, 1, 2, 5, 3, 6, 4, 7, 5, 2, 6, 0, 0, 0, 25, 9, -1, 15, 10, 7, 11, 7, 12, 8, 13, 9, 14, 10, 15, 10, 16, 11, 17, 12, 18, 13, 19, 14, 20, 15, 21, 15, 22, 16, 23, 9, 24, 17, 0, 2, 0, 8, 8, -1, 4, 1, 18, 5, 19, 6, 20, 7, 21, 0, 0, 0, 25, 26, -1, 13, 10, 7, 11, 7, 12, 8, 13, 9, 14, 22, 15, 23, 16, 24, 17, 25, 18, 26, 19, 27, 22, 16, 23, 9, 24, 17, 0, 0, 0, 32, 27, -1, 14, 10, 28, 11, 7, 12, 8, 13, 8, 14, 29, 15, 30, 16, 31, 17, 32, 18, 26, 28, 28, 29, 8, 30, 33, 19, 34, 31, 28, 0, 0, 0, 32, 33, -1, 14, 10, 28, 11, 7, 12, 8, 13, 8, 14, 29, 15, 35, 16, 31, 17, 36, 18, 26, 28, 28, 29, 8, 30, 33, 19, 37, 31, 28, 0, 0, 0, 32, 34, -1, 14, 10, 28, 11, 7, 12, 8, 13, 8, 14, 29, 15, 38, 16, 31, 17, 39, 18, 26, 28, 28, 29, 8, 30, 33, 19, 40, 31, 28, 0, 0, 0, 32, 35, -1, 14, 10, 28, 11, 7, 12, 8, 13, 8, 14, 29, 15, 41, 16, 31, 17, 42, 18, 26, 28, 28, 29, 8, 30, 33, 19, 43, 31, 28, 0 </int_array>
			<string> "variants" </string>
			<array  len="44" shared="false">
				<vector2> 96, 482 </vector2>
				<resource  external="0">  </resource>
				<vector2> 450, 477.998 </vector2>
				<vector2> 2.20202, 2.20202 </vector2>
				<resource  external="1">  </resource>
				<color> 0.503906, 0.503906, 0.503906, 1 </color>
				<resource  external="2">  </resource>
				<bool> True </bool>
				<int> 2 </int>
				<int> 0 </int>
				<real> 224 </real>
				<real> 686 </real>
				<real> 375 </real>
				<resource  external="3">  </resource>
				<string> "Diamond&#000a;Breaker" </string>
				<int> 1 </int>
				<real> 1 </real>
				<int> -1 </int>
				<vector2> 224, -115 </vector2>
				<vector2> 1.2, 1.2 </vector2>
				<resource  external="4">  </resource>
				<color> 1, 0.979706, 0.480469, 1 </color>
				<real> 279 </real>
				<real> 513 </real>
				<real> 627 </real>
				<real> 544 </real>
				<resource  external="5">  </resource>
				<string> "Choose a Level" </string>
				<bool> False </bool>
				<real> 352 </real>
				<real> 640 </real>
				<real> 532 </real>
				<real> 677 </real>
				<resource name=""></resource>				<string> "Easy" </string>
				<real> 768 </real>
				<real> 805 </real>
				<string> "Medium" </string>
				<real> 896 </real>
				<real> 933 </real>
				<string> "Hard" </string>
				<real> 1025 </real>
				<real> 1062 </real>
				<string> "Random" </string>
			</array>
			<string> "version" </string>
			<int> 2 </int>
		</dictionary>

	</main_resource>
</resource_file>